body{
        margin: 0;
     color: #666d89;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}

.container{
    width: 100%;
    max-width: 940px;
    margin: 0  auto ; 
}

.header{
    width: 100%;
    min-height: 864px;
    background-color: #2d303a;
    border-bottom:solid 6px #323746;
} 
.logo{
    font-size: 30px;
    line-height: 18px;
    text-align: left;
    padding-top: 71px;
    font-family:'Lato', sans-serif;
    font-weight: 900;
}
.nav{
    font-size: 11px;
    font-weight: 400;
    
}
.nav-content{
    display: flex;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}
.nav-content a{
    color: #767e9e;
    text-decoration: none;
    line-height:20px ;
}
.nav-content li{
    margin:0;
    border: 1px solid #666d89;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px 8px;
    margin-right: 10px;
    font-family:'Lato', sans-serif;
    font-weight: 400;
    text-align :justify
}

.nav-content li a:hover{
   color:#fff; 

}
.nav-content li:hover{
    border-color: #fff;
 }
.intro{
    text-align: left;       
}
.first-intro h2{
    font-size: 30px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 67px;
    text-align :justify
}
.about-photo{
    display: flex;
    max-width: 300px;
    flex-direction: column;
}
.second-intro p{
    width: 940px;
    height: 57px;
    font-size: 18px;
line-height: 30px;
font-family: "Lato";
font-weight: 300;
margin-top: 25px;
text-align :justify
}
.first-text{
    font-size: 18px;
    padding-top: 13px;
    margin-bottom: -5px;
    font-family:'Lato', sans-serif;
    font-weight: 300;
    text-align :justify;
    line-height: 19px;
    margin-bottom: -2px;

}
.image-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    overflow:hidden;
}
.image-marg{
margin-bottom: 20px;
}
.three-photo{
 display: flex; 
justify-content: space-between;  
margin-top: 47px;
flex-flow:row wrap;
}
.photo-name h3{
    font-family:'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    margin: 14px 0px 10px;
}
.photo-text p{
    font-family:'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    margin-top: -4px;
    margin-bottom: 23px;
}
.portfolio-items{
	max-height: 620px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	overflow:hidden;
}
.about{
    width: 100%;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom:solid 6px #ffffff;
}
.about-btn-box button{
	width: 33px;
	height: 33px;
	border: solid 1px #aeb2bf;
	border-radius: 17px;
	margin-right: 3px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}