
/* lato-300 - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("assets/lato-v16-latin-300.woff2") format("woff2"),
      url("assets/lato-v16-latin-300.woff") format("woff");
    font-display: swap;
  }
  /* lato-regular - latin */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("assets/lato-v16-latin-regular.woff2") format("woff2"),
      url("assets/lato-v16-latin-regular.woff") format("woff");
    font-display: swap;
  }
  /* lato-700 - latin */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("assets/lato-v16-latin-700.woff2") format("woff2"),
      url("assets/lato-v16-latin-700.woff") format("woff");
    font-display: swap;
  }
  /* lato-900 - latin */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("assets/lato-v16-latin-900.woff2") format("woff2"),
      url("assets/lato-v16-latin-900.woff") format("woff");
    font-display: swap;
  }

    body {
        min-width: 320px;
      }

.container {
        padding-left: 10px;
        padding-right: 10px;
        width: 960px;
  }
  .header 
  {
    width: 960px;
    height: 89px;
    background-color: #2d303a;
    border-bottom:solid 6px #323746;
  }
  .phone{
    height: 600px;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
  }
  .services{
    height: 494px;
  background-color: #f2f2f2;
  border-bottom: 6px #ffffff;
  color: #6b728d;
  }
  .imagephone{
    margin-right: 20px;
  }
 
  
  .advantage:nth-of-type(2) {
    background: no-repeat;
    background-position: 8px 0;
    background-image: url("assets/icon-bulb.svg");
  }
  
  .advantage:nth-of-type(3) {
    background: no-repeat;
    background-position: 15px 0;
    background-image: url("assets/icon-heart.svg");
  }
  
  .advantage:nth-of-type(4) {
    background: no-repeat;
    background-image: url("assets/icon-phone.svg");
  }
  
  .advantage:nth-of-type(5) {
    background: no-repeat;
    background-position: 8px 0;
    background-image: url("assets/icon-bubble.svg");
  }
  
  .advantage:nth-of-type(6) {
    background: no-repeat;
    background-position: 15px 0;
    background-image: url("assets/icon-star.svg");
  }
  img {
    max-width: 100%;
    height: auto;
  }