
* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
 body {
  margin: 0;
}
/* JS */

.activeBorder{
  outline: 5px solid #F06C64 ;
}
/* JS */

a{
  text-decoration: none;
  display: inline-block;
}
ul,
li{
  list-style: none; 
  margin: 0;
  padding: 0;
  display: inline-block;
}
.container{
  max-width: 960px;
margin:0 auto; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
.header {
  width: 100vw;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
  position: fixed;
  z-index: 10;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.header-logo h1 {
  font-size: 24px;
  line-height: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: left;
  margin: 44px -8px;
  word-spacing: -5px;
}

.header-logo h1 span {
  color: #f06c64;
  font-size: 25px;
}

.logo-and-nav {
  display: flex;
  justify-content: space-between;
}

.nav-header {
  padding-top: 27px;
  padding-right: 8px;
}

.nav-header  ul,
.nav-header  li {
    display: inline-block;

}

.nav-header  li+li {
  padding-left: 30px;
}

.header-menu-link{
  font-family:'Lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color:#fff;
}
.header-menu-link.active{
color:coral;
cursor: default;
}
.header-menu-link:not(.active):hover{
color:#f06c64;
}
.nav-header p{
  display: inline-block;
  color:#323746;
  line-height: 12px;
}
.nav-header  li+p{
  margin-right: 5px;
  margin-left: 10px;
}
.position {
  position: relative;
}

/*  //////////////////////////*/
.slider{
  position: relative;
  width: 100vw;
padding-top: 95px;
}
.slider__container{
  position: relative;
  width: 100vw;
  height: 594px;
  overflow:hidden;
}

.slider__list{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 594px;
}
.slider__item{
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 594px;
}
.slider-btns{
  position: absolute;
  width: 960px;
  display: flex;
  justify-content: space-between;
  left:50vw;
  margin-left: -480px;
  top:47%;
}
.slider-btns button{
  background: none;
  border:none;
  cursor: pointer;
  outline: none;
}
.slider__arrow{
position: absolute;
top: 51%;
}
.slider__arrow--next{
  right: 12px;
}
.slider__arrow--prev{
  left: -1px;
}

.slider-item-content{
   display: flex;
   max-width: 860px;
   margin:0 auto;
}
.slider-img-vertical{
padding-top: 53px;
padding-left: 23px;
}
.phone-off-vertical{
  position: absolute;
  height: 333px;
  width: 189px;
  margin-top: 65px;
  margin-left: 13px;
  background:rgba(0,0,0,1.0);
  cursor: pointer;
  border-radius: 2px;
 
}
.slider-img-horizontal{
  padding-top: 174px;
  padding-left: 73px;
}
.phone-off-horizontal{
  position: absolute;
  height: 189px;
  width: 333px;
  margin-top:13px;
  margin-left: 60px;
  background:rgba(0,0,0,1.0);
  cursor: pointer;
  border-radius: 2px;
  z-index: 100;
}

.sliders-img-vertical{
  max-width: 517px;
  padding-top:60px;
  margin:0 auto; 
}


.slider-border{
   height: 6px;
   background-color:#ea676b;
   width: 100vw;
}
/* //////////////////////////// */
.services {
  width: 100%;
  min-height: 500px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

.imagephone {
  margin-right: 20px;
}

.about-heading {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  padding-top: 68px;
}

.about-paragraph {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-top: 27px;
  text-align: justify;
  margin-bottom: 48px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.about-picture {
  float: left;
  margin: 3px 1px;
}
.about-all-list {
  display: flex;
  display: inline-block;
  width: 300px;
  margin-bottom: 23px;
}

.about-name-list h3 {
  font-size: 18px;
  line-height: 19px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  margin: -1px 80px;
  text-align: justify;
}

.about-text-list p {
  margin-left: 80px;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
}
/* singolo2 */
.container{
  width: 100%;
  max-width: 940px;
  margin: 0  auto ; 
}

.header-singolo2{
  width: 100%;
  min-height: 869px;
  background-color: #2d303a;
  border-bottom:solid 6px #323746;
} 
.logo{
  font-size: 30px;
  line-height: 18px;
  text-align: left;
  padding-top: 69px;
  font-family:'Lato', sans-serif;
  font-weight: 900;
  color: #666d89;
}
.portfolio-button{
	margin-bottom: 20px;
  display:inline-block;
}
.portfolio-button button{
	font-family:'Lato', sans-serif;
    font-weight: 400;
    color:#5f6680;
    border:solid 1px #5f6680;
    padding: 0px 7px;
    font-size: 11px;
    line-height: 20px;
    border-radius: 4px;
    margin-right: 6px;
    background-color: transparent;
    outline:none;
}
.portfolio-button button:not(.active-btn):hover{
    color:#fff;
    border:solid 1px #fff;
    cursor:pointer;
}
.portfolio-button button.active-btn{
    background-color: #fff;
    cursor: default;

}

.intro{
  text-align: left;       
}
.first-intro h2{
  font-size: 30px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding-top: 67px;
  text-align :justify;
  color: #666d89;
}
.about-photo{
  display: flex;
  max-width: 300px;
  flex-direction: column;
}
.second-intro p{
  width: 940px;
  height: 57px;
  font-size: 18px;
line-height: 30px;
font-family: "Lato", sans-serif;
font-weight: 300;
margin-top: 25px;
text-align :justify;
color: #767e9e;
}
.first-text {
  font-size: 18px;
  padding-top: 13px;
  margin-bottom: -5px;
  font-family:'Lato', sans-serif;
  font-weight: 300;
  text-align :justify;
  line-height: 19px;
  margin-bottom: -2px;
  color: #767e9e;

}
.image-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

}
.image-group:nth-child(n+13){
  display: none;
}
.image-marg{
margin-bottom: 20px;
}
.three-photo{
display: flex; 
justify-content: space-between;  
margin-top: 47px;
flex-flow:row wrap;
}
.photo-name h3{
  font-family:'Lato', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  margin: 14px 0px 10px;
  color: #666d89;
}
.photo-text p{
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  margin-top: -4px;
  margin-bottom: 23px;
  color: #767e9e;
}
.services-border{
  height: 6px;
  background-color:#fff;
}	
.portfolio-items{
max-height: 620px;
display:flex;
flex-wrap:wrap;
justify-content: space-between;
}
.about{
  width: 100%;
  height: 734px;
  background-color: #f2f2f2;
  border-bottom:solid 6px #ffffff;
}
.about-btn-box button{
width: 33px;
height: 33px;
border: solid 1px #aeb2bf;
border-radius: 17px;
margin-right: 3px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
/* singolo3 */

.quote{
  width: 100%;
  height: 654px;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.quote-text{
  padding-top: 68px;
}
.quote-first-name h2{
  font-size: 30px;
line-height: 18px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 900;
text-align: left;
margin-bottom: 27px;
}
 .quote-second-text p{
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  text-align: justify;
 }
 .feald-and-contact{
   display: flex;
  justify-content: space-between;
 }
 .field{
   max-width: 640px;
 }
 .contact-information{
max-width: 300px;
width: 100%;
 }
 .contact-name h3{
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 29px;
 }
 .contact-text p{
  width: 300px;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-align: justify;
  margin-top: 9px;
    word-spacing: -1px;
    margin-bottom: -82px;
 }

/*  */
 .contact-emblem{
  height: 100px;
}
.contact-emblem a{
  font-family:'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color:#f0c5c4;
}
.contact-emblem a:before{
  font-family: 'icomoon';
  content: "\f041";
  position:relative;
  right: 13px;
  padding-left:16px;
}
.contact-emblem .link-phone a:before{
  font-family: 'icomoon';
  content: "\f095";
  right: 10px;
    padding-left:13px;
    display: inline-block;
    top:5px;
    left:-4px;
    transform: rotate(270deg);
    font-size: 13px;
}
.contact-emblem .link-email a:before{
  font-family: 'icomoon';
  content: "\f003";
  position:relative;
  right: 11px;
    padding-left:12px;
    line-height: 20px;
}
.link-phone{
  margin-top:-17px;
}
.link-email{
  margin-top: -15px;
}
/*  */
.contact-information button{
  height: 60px;
  width: 100%;
  background-color: #d6564f;
  border:none;
  outline: none;
  color:#e16a67;
  font-family:'Lato', sans-serif;
  font-weight: 900;
  font-size: 22px;
}
.contact-information button:hover{
  color:#f0c5c4;
  border:solid 3px #f0c5c4;
  cursor: pointer;
}
/*  */
.field-left{
  max-width: 620px;
  width: 100%;
  margin-top: 28px;
}
.field-left input{
width: 100%;
height: 39px;
background-color:#d6564f;
border:none;
border-radius: 4px;
margin-bottom: 15px;
padding: 0px 15px;
outline:none;
  color:#f0c5c4;
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.field-left input::-webkit-input-placeholder{
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color:#e77472;

}

.field-left textarea{
  width: 100%;
  height: 203px;
  background-color:#d6564f;
  border:none;
  border-radius: 4px;
  padding: 8px 15px;
  resize:none;
  outline:none;
  color:#f0c5c4;
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
    
}
.field-left textarea::-webkit-input-placeholder{
    font-family:'Lato', sans-serif;
    font-weight: 400; 
    font-size: 12px;
    line-height: 22px;
    color:#e77472;
}
/*  */
.footer{
  width: 100%;
  height: 76px;
  background-color: #2d303a;
}
.footer-box{
  display: flex;
  justify-content: space-between;
}
.footer-text p {
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color:#595f77;
  margin-top: 31px;
}
.footer-btn-box button{
    width: 32px;
    height: 32px;
    border: solid 1px #595f77;
    border-radius: 17px;
    margin-left: 4px;
    background-color: transparent;
    margin-top: 21px;
    cursor: pointer;
    outline: none;
}

#close-btn{
  padding:10px;
  color:#f0c5c4;
  width: 100%;
  text-align: center;
}
#close-btn:hover{
  color:#f0c5c4;
    outline:solid 3px #f0c5c4;
    cursor: pointer;
}
#message-block{
  
  position: absolute;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #0008;
  display: block;
}
#message-block.hidden{
  display: none;
}
#message{
 max-width: 70%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  border:solid 3px #f0c5c4;
  text-align: left;
  padding: 30px 50px;
  background-color:#e77472;
  z-index: 200;
}

.ramka{
 max-width: 100%;
 color:#f0c5c4;
 font-family: "Lato", sans-serif;
  font-weight: 600;
}
 #result-describe{
   width: 600px;
 }

